td a {
  display: block;
  height:100%;
  width:100%;
}

body {
margin: 10px;
}

h1 {
font-size: 15px;
color: navy;
}

#container {
align-items: center;
display: flex;
justify-content: space-between;
}

input[type="text"] {
  background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
    outline: none;


    width: 100px;
    height: 20px;

}

#scoreform{

  display: none;
}

#categoryform{
  display: none;
}

#addCategoryButton{
  padding: 3px 7px;
  font-size: 15px!important;

}

.close {
  padding: 7px 7px;
  background: transparent;
  font-size: 19px!important;
  border: none;
}

.close:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.edit {
  padding: 7px 7px;
  background: transparent;
  font-size: 19px!important;
  border: none;
}

.edit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.editAssignmentScore {
  width: 70px !important;
  height: 20px;

}

.editOverallScore{
  width: 70px !important;
  height: 20px;

}