td a {
  display: block;
  height:100%;
  width:100%;
}

body {
margin: 10px;
}

h1 {
font-size: 20px;
color: navy;
margin: 1px;
padding-left: : 1px;
display: inline;

}

#container {
align-items: center;
display: flex;
justify-content: space-between;
}

input[type="text"] {
  background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
    outline: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    width: 100px;
    height: 20px;
    min-width: 18px;
    max-width: 80px; 

}

#scoreform{

  display: none;
}

#categoryform{
  display: none;
}
#teacherIssue{
  color: red;
  font-weight: lighter;
  font-size: 11px;
  text-align: right;
  float: right;
  display: inline;
  margin-top: 2px;

}

#addCategoryButton{
  padding: 3px 7px;
  font-size: 15px!important;

}
#score{
  font-size: 20px;
}

#score{
  margin-top: 5px;
  font-size: 20px;
}

