td a {
  display: block;
  height:100%;
  width:100%;
}

body {
margin: 10px;
}

h1 {
font-size: 15px;
color: navy;
}

#container {
align-items: center;
display: flex;
justify-content: space-between;
}

input[type="text"] {
	background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
        padding: 2px 5px;
        outline: none;


    width: 100px;
    height: 20px;

}

#scoreform{

	display: block;
}